@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 5em;
  }
  img {
    width: 100%;
    height: auto;
  }
  .hover figure img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover figure:hover img {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}
.another-container {
    margin-top:100px ;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 5em;
    
}

.product {
    margin-top: -50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 600px;
}
.title p{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
    background-color: #F8E502;
    text-align: center; 
    overflow: hidden; 
    padding: 10px; 
    position: relative;
}
.cards{
    display:grid;
    grid-template-columns: 200px 200px 200px 200px;
}

 .wrapp{
    position: relative;
    width: 200px;
    height: 200px;
 }
 .first {
    position: absolute;
  }
 .second {
    background-image: url("../media/destacado.png");
    width: 90px;
    height: 27px;
    background-position: center;
    background-repeat: no-repeat;
    position:relative;
    top: 25px;
    left: 100px;
    transform: translate(-50%, -50%);
}

  .cards1 p{
      text-align: center;
      position: center;
      font-size: 13px;
      font-family: 'Source Sans Pro', sans-serif;
  }
  .cards1 label{
    font-family: 'Roboto', sans-serif;
    text-align: center;
 }
a button{
    align-self: center;
    border-radius: 0.25em;
    background-color: red;
     border: none;
     color: white;
     padding: 5px 20px;
     text-align: center;
     text-decoration: none;
     text-decoration-line: none;
     font-size: 12px;
     margin: 4px 2px;
  
}
.hover1{
    display: none;
}

.cards1:hover > .hover1  {
    display: block;
}
.cantidad{
    display: flex;
    justify-content: space-around;}
    input{
    flex-direction: column;
    align-self: flex-end;
}
.cards1:hover{
 border:solid 2px #EDECE6;
 border-radius: 0.5em;
}
 footer{
     display:block;
     position: absolute;
     text-align: center;
     background-color: #EDECE6;
 }
 footer{
     font-family:'Roboto', sans-serif;
     font-size: 12px;
     color: green;

 }
@media (max-width: 1084px)
{

    .product{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


}